* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

/* PAGE LAYOUT */
.auth-page {
    display: flex;
    min-height: 100vh;
    width: 100%;
}

/* LEFT IMAGE */
.auth-image {
    flex: 1;
    background-size: cover;
    background-position: center;
}

/* LOGIN IMAGE */
.login-img {
    background-image: url("/static/images/login.jpg");
}

/* REGISTER IMAGE */
.register-img {
    background-image: url("/static/images/register.jpg");
}

/* RIGHT CONTENT */
.auth-content {
    flex: 1;
    background: linear-gradient(
        135deg,
        #b08551,
        #866c49
    );
    display: flex;
    align-items: center;
    justify-content: center;
}


/* CARD */
.auth-card {
    background: rgba(255, 255, 255, 0.95);
    width: 380px;
    padding: 35px;
    border-radius: 14px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.18);
}

.auth-card h2 {
    color: #92400e; /* warm brown */
}


/* TEXT */
.auth-card h2 {
    font-size: 26px;
    margin-bottom: 5px;
}

.auth-card p {
    color: #555;
    margin-bottom: 20px;
    font-size: 14px;
}

/* INPUTS */
.auth-card input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.auth-card input:focus {
    outline: none;
    border-color: #f59e0b;
    box-shadow: 0 0 0 3px rgba(245, 158, 11, 0.2);
}


/* BUTTON */
.auth-card button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background: #2563eb;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.auth-card button:hover {
    background: #1e40af;
}

/* LINKS */
.auth-footer {
    margin-top: 15px;
    font-size: 14px;
}

.auth-footer a {
    text-decoration: none;
    color: #2563eb;
    font-weight: 500;
}

.back-home {
    display: inline-block;
    margin-top: 12px;
    font-size: 13px;
    color: #555;
    text-decoration: none;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .auth-page {
        flex-direction: column;
    }

    .auth-image {
        height: 40vh;
    }
}
