/* ===== LOGIN PAGE ONLY ===== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

/* Full screen background */
.login-wrapper {
    height: 100vh;
    width: 100%;
    background-image: url("../images/login.jpg");
    background-size: cover;
    background-position: center;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Dark overlay */
.login-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
}

/* Login card */
.login-box {
    position: relative;
    z-index: 2;
    width: 360px;
    padding: 35px;
    transform: translateY(150px);


    /* TRANSPARENT GLASS EFFECT */
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border-radius: 16px;
    text-align: center;

    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.45);
    border: 1px solid rgba(255, 255, 255, 0.25);
}


/* Headings */
.login-box h2 {
    margin-bottom: 8px;
    color: #412e2e;
    font-weight: 600;
}

.login-box p {
    margin-bottom: 20px;
    color: #e5e7eb;
}


/* Inputs */
.login-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 14px;
    border-radius: 10px;
    border: none;

    background: rgba(255, 255, 255, 0.85);
    font-size: 14px;
}

.login-box input:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.4);
}


/* Button */
.login-box button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 12px;
    background: linear-gradient(135deg, #3b82f6, #1e40af);
    color: white;
    font-size: 16px;
    cursor: pointer;
}


.login-box button:hover {
    opacity: 0.95;
}


/* Links */
.login-links {
    margin-top: 15px;
    font-size: 14px;
    color: #e5e7eb;
}

.login-links a {
    color: #93c5fd;
    text-decoration: none;
}

.login-overlay {
    background: rgba(0, 0, 0, 0.35);
}

