<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Admin Orders | Smart Canteen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="bg-light">

    <body class="bg-light">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Smart Canteen </a>

                <div class="d-flex">
                    <span class="navbar-text text-white me-3">
                        {{ session.get('user_name') }}
                    </span>
                    <a href="/logout" class="btn btn-outline-light btn-sm">
                        Logout
                    </a>
                </div>
            </div>
        </nav>


        <div class="container mt-4">

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-success">
                {{ messages[0] }}
            </div>
            {% endif %}
            {% endwith %}


            <div class="container mt-4">
                <div class="table-responsive">


                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h3>📋 All Orders (Admin)</h3>
                    </div>

                    {% if orders|length == 0 %}
                    <div class="alert alert-info">
                        No orders found.
                    </div>
                    {% else %}
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped align-middle text-center">
                            <thead class="table-dark">
                                <tr>
                                    <th style="width: 80px;">Order ID</th>
                                    <th style="width: 160px;">User</th>
                                    <th style="width: 120px;">Item</th>
                                    <th style="width: 100px;">Quantity</th>
                                    <th style="width: 160px;">Status</th>
                                    <th style="width: 180px;">Action</th>
                                    <th style="width: 180px;">Order Time</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                <tr>
                                    <td>{{ order.order_id }}</td>
                                    <td>{{ order.user_name }}</td>
                                    <td>{{ order.item_name }}</td>
                                    <td>{{ order.quantity }}</td>
                                    <td>
                                    <td>
                                        <form method="POST" action="/admin/update-order-status">
                                            <input type="hidden" name="order_id" value="{{ order.order_id }}">

                                            <select name="status">
                                                <option value="Placed" {% if order.status=='Placed' %}selected{% endif
                                                    %}>
                                                    Placed
                                                </option>
                                                <option value="Preparing" {% if order.status=='Preparing' %}selected{%
                                                    endif %}>
                                                    Preparing</option>
                                                <option value="Ready" {% if order.status=='Ready' %}selected{% endif %}>
                                                    Ready
                                                </option>
                                                <option value="Completed" {% if order.status=='Completed' %}selected{%
                                                    endif %}>
                                                    Completed</option>
                                            </select>

                                            <button type="submit">Update</button>
                                        </form>
                                    </td>
                                    </td>
                                    <td>{{ order.order_time }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}

                </div>

    </body>

</html>